body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.green{
  background-color: green;
}
.gray{
  background-color: lightgray;
}
.red{
  background-color: red;
}
.yellow{
  background-color: yellow;
}

.btn{
  border: 1px black solid;
  border-radius: 5px;
  margin: 2px;
  width:auto;
  height: 5em;
}
.menu{
  display: flex;
  flex-wrap: wrap;
}
.section{
  margin: 10px;
  display: felx

}
#st{
  display: flex;
  flex-wrap: wrap;
  max-width: 100vw;
}
#st li {
  margin: 20px;
  text-decoration: none;
}
a{
  text-decoration: none;
  color: black;
}