body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.green{
  background-color: green;
}
.gray{
  background-color: lightgray;
}
.btn{
  border: 1px black solid;
  border-radius: 5px;
  width: auto;
  height: 3em;
}
.menu{
  display: flex;
  flex-wrap: wrap;
}
.section{
  margin: 10px;
}